langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-community
langchain_huggingface
langchain_google_genai
fastapi
uvicorn[standard]
chromadb
faiss-cpu
torch
transformers
sentence-transformers
schedule
numpy
pandas
langsmith
pydantic
pydantic-settings
python-dotenv
redis
psycopg2-binary
spotipy
tavily-python
langchain-tavily
python-telegram-bot